---

---

<nav
  role="navigation"
  class="hide-scrollbar flex w-64 flex-col justify-start overflow-scroll px-4 pb-2 pt-6 text-black dark:text-white"
>
  <!-- <NavigationBrandLink /> -->

  <ul class="mb-4 mt-2">
    <!-- <SideNavigationItem label="about-side" /> -->
  </ul>

  <h3
    class="break-words px-2 text-sm font-medium text-neutral-600 dark:text-neutral-400"
  >
    What I enjoy
  </h3>

  <ul class="mb-4 mt-2">
    <!-- <SideNavigationItem label="projects-side" /> -->
    <!-- <SideNavigationItem label="investments-side" /> -->
    <!-- <SideNavigationItem label="music-side" /> -->
  </ul>

  <h3
    class="break-words px-2 text-sm font-medium text-neutral-600 dark:text-neutral-400"
  >
    Stay in touch
  </h3>

  <ul class="mb-4 mt-2">
    <!-- <SideNavigationItem label="contact-side" />
    <SideNavigationItem label="github-side" />
    <SideNavigationItem label="linkedin-side" /> -->
  </ul>

  <div class="mt-auto flex items-end justify-between">
    <!-- <ThemeToggler /> -->
    <p class="ml-2 text-sm text-neutral-600 dark:text-neutral-400">
      Niklas Rydkvist © {new Date().getFullYear().toString()}
    </p>
  </div>
</nav>
