---
import Branding from "../components/navigation/Branding.astro";
import SideNavigation from "../components/navigation/SideNavigation.astro";
import TabNavigation from "../components/navigation/TabNavigation.astro";
import ThemeToggle from "../components/ThemeToggle.astro";
import { EXTERNAL_LINKS } from "../config";
import Document from "./Document.astro";
import { SEO, type Props as SEOProps } from "astro-seo";

interface Props {
  seo?: SEOProps;
}

const defaultSEO: SEOProps = {
  titleDefault: "Niklas Rydkvist",
  titleTemplate: "%s | Niklas Rydkvist",
  description:
    "Niklas Rydkvist is a Software Engineer based in Stockholm, Sweden. He is passionate about building software that facilitates the day-to-day life of people.",
  canonical: EXTERNAL_LINKS.website,
  openGraph: {
    basic: {
      title: "Niklas Rydkvist",
      type: "website",
      url: EXTERNAL_LINKS.website,
      image: "/public/images/niklas.jpg",
    },
  },
};

const seoConfig = { ...defaultSEO, ...Astro.props.seo };
---

<Document>
  <head>
    <SEO {...seoConfig} />
  </head>
  <body>
    <div
      class="flex max-h-screen min-h-screen flex-col bg-neutral-200 md:flex-row dark:bg-neutral-800"
    >
      <div class="sticky top-0 hidden md:order-1 md:flex">
        <SideNavigation />
      </div>

      <div
        class="flex flex-row items-center justify-between p-2 text-black md:hidden dark:text-white"
      >
        <Branding />
        <div class="mr-2">
          <ThemeToggle />
        </div>
      </div>

      <div
        class="hide-scrollbar order-2 mx-2 flex justify-center overflow-scroll rounded-lg bg-neutral-100 md:m-2 md:w-full md:shadow-lg dark:bg-neutral-900"
      >
        <slot />
      </div>

      <div class="sticky bottom-0 order-3 md:hidden">
        <TabNavigation />
      </div>
    </div>
  </body>
</Document>

<style is:global>
  html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
  }
  body {
    margin: 0;
    padding: 0;
  }
  .hide-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
</style>
