---
import Document from "./Document.astro";
import { SEO, type Props as SEOProps } from "astro-seo";

interface Props {
  seo?: SEOProps;
}

const defaultSEO: SEOProps = {
  title: "Niklas Rydkvist @ Software Engineer",
};

const seoConfig = Astro.props.seo ?? defaultSEO;
---

<Document>
  <head>
    <SEO {...seoConfig} />
  </head>
  <body>
    <slot />
  </body>
</Document>

<style is:global>
  html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
  }
  body {
    margin: 0;
    padding: 0;
  }
  .hide-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
</style>
