---
import Layout from "./Layout.astro";

interface Props {
  frontmatter: {
    title: string;
  };
}
const { frontmatter } = Astro.props;
---

<Layout seo={{ title: frontmatter.title }}>
  <div class="container px-8 md:px-16 lg:px-32 xl:px-64">
    <div
      class="text-1xl flex min-h-screen flex-col items-center pb-32 pt-8 leading-7 text-black md:pb-8 md:pt-16 dark:text-white"
    >
      <slot />
    </div>
  </div>
</Layout>
